<mat-toolbar color="primary">
  <div class="flex-container">
    <span class="toolbar-title"> Cadastro de Produto </span>
    <button mat-fab color="accent" routerLink="/produtos/new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>

<table mat-table [dataSource]="produtos" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id-column">
      <th mat-header-cell *matHeaderCellDef> Produto </th>
      <td mat-cell *matCellDef="let produto"> {{produto.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let produto">
        <a routerLink="/produto/edit/{{produto.nome}}"> {{produto.nome}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="sigla-column">
        <th mat-header-cell *matHeaderCellDef> Descricao </th>
        <td mat-cell *matCellDef="let produto"> {{produto.descricao}} </td>
    </ng-container>

    <ng-container matColumnDef="sigla-column">
      <th mat-header-cell *matHeaderCellDef> ValorUnidade </th>
      <td mat-cell *matCellDef="let produto"> {{produto.valorUnidade}} </td>
  </ng-container>

  <ng-container matColumnDef="sigla-column">
      <th mat-header-cell *matHeaderCellDef> NomeImagem </th>
      <td mat-cell *matCellDef="let produto"> {{produto.nomeImagem}} </td>
  </ng-container>

  <ng-container matColumnDef="sigla-column">
      <th mat-header-cell *matHeaderCellDef> QuantidadeEstoque </th>
      <td mat-cell *matCellDef="let produto"> {{produto.quantEstoque}} </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>